.side-bar {
  width: 300px;
  height: 100vh;
  color: #FFFFFF;
  float: left;
  .header {
    background-color: #253141;
    height: 100px;
    line-height: 100px;
    padding: 0 20px;
    &__user-name {
      font-size: 16px;
      font-weight: bold;
      display: inline-block;
    }
    &__edits {
      display: inline-block;
      float: right;
      .list {
        display: inline-block;
      }
      .fa {
        color: #FFFFFF;
        font-size: 16px;
      }
    }
  }
  .groups {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    padding: 0 20px;
    .group {
        padding: 20px 0 40px;
      &__name {
        font-size: 15px;
      }
      &__message {
        font-size: 11px;
      }
    }
  }
}
.main {
  width: calc(100vw - 300px);
  height: 100vh;
  float: left;
  .header {
    height: 100px;
    padding: 0 40px;
    border-bottom: 0.5px solid #eeeeee;
    .header-left {
      float: left;
        &__title {
          padding-top: 35px;
          padding-bottom: 15px;
          font-size: 20px;
          color: #333333;
        }
        &__members {
          font-size: 12px;
          color: #999999;
        }
    }
    .header-right {
      float: right;
      &__edit {
        border: 1px solid #38AEF0;
        line-height: 40px;
        padding: 0 20px;
        margin-top: 28px;
      }
    }
  }
  .messages {
    padding:46px 40px 0 40px;
    height: calc(100vh - 235px);
    .message {
      &__user-name {
        font-size: 16px;
        font-weight: bold;
        color: #434A54;
        display: inline-block;
        padding-bottom: 10px;
      }
      &__date {
        font-size: 12px;
        color: #999999;
        display: inline-block;
      }
      &__text {
        font-size: 14px;
        color: #434A54;
        padding-bottom: 40px;
      }
    }
  }
  .footer {
    padding: 0 40px;
    height: 90px;
    background-color: #B8C3C7;
    .footer-body {
      position: relative;
      .message {
        height: 50px;
        width: calc(100% - 130px);
        padding: 0 10px;
        margin: 20px 0;
        font-size: 16px;
        border: none;
      }
      .file {
        .image {
          display: none;
          position: absolute;
          top: 40px;
          right: 140px;
        }
        .fa.fa- {
          position: absolute;
          top: 40px;
          right: 140px;
        }
      }
      .submit {
        background-color:  #38AEF0;
        height: 50px;
        width: 100px;
        font-size: 16px;
        color: #FFFFFF;
        position: absolute;
        top: 20px;
        right: 0;
        border: none;
      }
    }
  }
}
